.main-header {
  padding-top: calc(3rem + 72px);
  padding-bottom: 6rem;
}

section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media (min-width: 992px) {
  .main-header h1 {
    font-size: 4.75rem;
  }

  .main-header h2 {
    font-size: 1.75rem;
  }

  .dark-secondary {
    color: #343a40;
    font-size: 2.75rem;
    line-height: 2rem;
  }

  .light-secondary {
    font-size: 2.75rem;
    line-height: 2rem;
  }
}

@media (max-width: 992px) {
   .main-header h1 {
     font-size: 3.75rem;
   }

   .main-header h2 {
     font-size: 1.5rem;
   }

   .dark-secondary {
     color: #343a40;
     font-size: 2.25rem;
     line-height: 2rem;
   }

   .light-secondary {
     font-size: 2.25rem;
     line-height: 2rem;
   }
 }

hr {
    border-color: #fff;
}
hr.header-detail-dark {
  color: #343a40;
}
hr.header-detail-dark:after {
    color: #343a40;
    background-color: #fff;
}

hr.header-detail {
  color: #fff;
}
hr.header-detail, hr.header-detail-dark{
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
hr.header-detail:after {
    color: #fff;
    background-color: #01A1FF;
}
hr.header-detail-dark:after, hr.header-detail:after {
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 .25em;
    content: '\f0c8';
    font-family: FontAwesome;
    font-size: 1.75em;
}

.project-card:hover {
  box-shadow: 0 15px 21px 0 rgba(0,0,0,0.3);
}

.fade-in {
  opacity: 0;
}

#aboutMe a, #aboutMe a:hover {
  text-decoration: underline;
  color: white;
}

.connect-info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.profile-picture {
  width: 16rem;
}
